:root {
  --main-gradient: linear-gradient(
          -45deg,
          hsl(000, 50%, 80%),   /* 浅红色（降低饱和度，提高亮度） */
          hsl(060, 50%, 80%),  /* 浅黄色 */
          hsl(120, 50%, 80%), /* 浅绿色 */
          hsl(180, 50%, 80%), /* 浅青色 */
          hsl(240, 50%, 80%), /* 浅蓝色 */
          hsl(300, 50%, 80%), /* 浅紫色 */
          hsl(360, 50%, 80%)  /* 回到浅红色 */
  );
}

@font-face {
  font-family: "flowes";
  /*è‹±æ–‡å­—ä½“*/
  src: url(../fonts/Pacifico-Regular.ttf);
  font-display: swap;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.main {
  width: 100%;
  background: url("../images/main-bac.jpg");
  background-size: contain;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: var(--main-gradient);
  /*background-color: #a4e9f8;*/
}

.logo {
  padding: 0.2rem;
  height: 100%;
}

.logo img {
  height: 100%;
  border-radius: 0.5rem;
}

.logo h1 {
  font-size: 0;
}

.nav-list {
  transition: all 2s;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  background-color: transparent;
  flex-grow: 1;
}

.nav-list ul{
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list ul li {
  height: 80%;
  line-height: 3.2rem;
  background-color: transparent;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0 0.8rem;
}

.nav-list ul li:hover {
  box-shadow: 0 0 0.8rem 0.2rem #9d51fa;
}

.nav-list ul li a {
  white-space: nowrap;
  font-size: 1.2rem;
}

.nav-list ul li a:hover {
  color: #ef5151;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  background: url("../images/pag-bac.jpg") no-repeat;
  /*background-color: #2fcd3d;*/
}

.post-container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.2rem solid #f4ce6b;
  margin: 0.2rem 0;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(145, 113, 255, 0.68);
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.post-container article:hover {
  animation: jump 0.5s ease-in-out 1 alternate;

}

.post-container article a {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-container article a:hover {
  color: #212529;
}

.post-container article a h2 {
  font-family: "flowes","华文新魏","宋体","楷体", sans-serif;
  font-size: 2.2rem;
  display: block !important;
  position: relative;
  top: 30%;
}

article span:nth-of-type(1) {
  color: #004998;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

article span:nth-of-type(2) {
  color: #0cff00;
  font-size: 1rem;
}

.my-details {
  color: transparent;
}