:root {
  --main-gradient: linear-gradient(
          -45deg,
          hsl(000, 50%, 80%), /* 浅红色（降低饱和度，提高亮度） */ hsl(060, 50%, 80%), /* 浅黄色 */ hsl(120, 50%, 80%), /* 浅绿色 */ hsl(180, 50%, 80%), /* 浅青色 */ hsl(240, 50%, 80%), /* 浅蓝色 */ hsl(300, 50%, 80%), /* 浅紫色 */ hsl(360, 50%, 80%) /* 回到浅红色 */
  );
  --main-gradient-two: linear-gradient(
          -60deg,
          hsl(000, 80%, 80%), /* 浅红色（降低饱和度，提高亮度） */ hsl(060, 80%, 80%), /* 浅黄色 */ hsl(120, 80%, 80%), /* 浅绿色 */ hsl(180, 80%, 80%), /* 浅青色 */ hsl(240, 80%, 80%), /* 浅蓝色 */ hsl(300, 80%, 80%), /* 浅紫色 */ hsl(360, 80%, 80%) /* 回到浅红色 */
  );
  --main-font: "flowes", "华文新魏", "宋体", "楷体", sans-serif;
  --main-font-color: #007bff;
}

@font-face {
  font-family: "flowes";
  /*è‹±æ–‡å­—ä½“*/
  src: url(../fonts/Pacifico-Regular.ttf);
  font-display: swap;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}


@keyframes borderColorChange {
  0% {
    border-color: #e61010;
  }
  25% {
    border-color: #53c2ea;
  }
  50% {
    border-color: #15ff15;
  }
  75% {
    border-color: #a2e619;
  }
  100% {
    border-color: #d21dfb;
  }
}

.main {
  width: 100%;
  /*background: url("../images/main-bac.jpg");*/
  background: linear-gradient(to right, #ff6b6b, #4ecdc4);
  background-size: contain;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: var(--main-gradient);
  /*background-color: #a4e9f8;*/
}

.logo {
  /*background-size: auto 100%;*/
  padding: 0.2rem;
  height: 100%;
  /*background: black url("../images/bear.png") no-repeat;*/
  /*background-position-y: 20px;*/
}

.logo img {
  height: 100%;
  border-radius: 0.5rem;
}

.logo h1 {
  font-size: 0;
}

.nav-list {
  transition: all 2s;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  background-color: transparent;
  flex-grow: 1;
}

.nav-list>ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list>ul>li {
  height: 80%;
  line-height: 3.2rem;
  background-color: transparent;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0 0.8rem;
}

.nav-list>ul>li:first-child {
  position: relative;
  right: 25rem;
}

.nav-list ul li:hover {
  box-shadow: 0 0 0.8rem 0.2rem #9d51fa;
}

.nav-list ul li a {
  white-space: nowrap;
  font-size: 1.2rem;
}

.nav-list ul li a:hover {
  color: #ef5151;
}

.post-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  background: url("../images/pag-bac.jpg") no-repeat;
  overflow: auto;
  /*background-color: #2fcd3d;*/
}

.post-container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border: 0.2rem solid #f4ce6b;
  border-radius: 0.5rem;
  margin: 0.2rem 0;
  /*height: 10rem;*/
  width: 100%;
  height: 10rem;
  background-color: rgba(145, 113, 255, 0.68);
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.post-container article:hover {
  animation: jump 0.5s ease-in-out 1 alternate;

}

.post-container article a {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-container article a:hover {
  color: #212529;
}

.post-container article a h2 {
  font-family: "flowes", "华文新魏", "宋体", "楷体", sans-serif;
  font-size: 2.2rem;
  display: block !important;
  position: relative;
  top: 30%;
}

article span:nth-of-type(1) {
  color: #004998;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

article span:nth-of-type(2) {
  color: #0cff00;
  font-size: 1rem;
}

.my-details {
  color: transparent;
}

.middle {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.middle-two {
  flex-grow: 3;
  max-width: 29.43rem;
  overflow: auto;
  border: 0.2rem solid #f4ce6b;
  /*border-radius: 0.5rem;*/
}

.middle-three::-webkit-scrollbar,
.post-container::-webkit-scrollbar,
.middle-two::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none;
}

.middle-three {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid #f4ce6b;
  /*border-radius: 0.5rem;*/
  flex-grow: 2;
  overflow: auto;
}

.middle-three .todo-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: var(--main-gradient-two);
  border-radius: 0.5rem;
  text-align: center;
}

.middle-three .todo-logo span {
  line-height: 4rem;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
  font-family: var(--main-font), serif;
  font-size: 1.9rem;
  color: #5106c3;
}

.middle-three .todo-logo svg {
  margin-left: 0.5rem;
}

.todo-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2.3rem;
  background-color: rgba(255,255,255,0.7);
  border-radius: 0.5rem;
}

.todo-input input {
  height: 90%;
  width: 60%;
  border-radius: 0.5rem;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 0.4rem 0.2rem #30f8e5;
}

.todo-input button:hover,
.todo-input input:focus {
  outline: none;
  box-shadow: 0 0 0.5rem 0.3rem #9d51fa;
}

.todo-input button {
  border: none;
  border-radius: 0.5rem;
  height: 90%;
  width: 10%;
  box-shadow: 0 0 0.4rem 0.2rem #30f8e5;
  color: var(--main-font-color);
}

.middle-three ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-three ul li{
  padding: 0;
  height: 3rem;
  width: 90%;
  list-style: none;
  margin: 0.5rem 0;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: hidden;
}

.todo-in-box {
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
}

.todo-in-box:hover {
  transform: translateX(-5rem);
  transition: 0.5s;
}

.todo-in-box>div {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}

.todo-in-box>div>span {
  line-height: 3rem;
  font-family: var(--main-font), serif;
  color: var(--main-font-color);
  font-size: 1.5rem;
}

.todo-in-box>button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-shrink: 0;
  width: 5rem;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: #4124ff;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
}

.todo-in-box>button svg {
  margin-left: 0.2rem;
}

.site-footer {
  text-align: center;
}

#snake {
  width: 29rem;
  border: 0.2rem solid;
  border-radius: 0.5rem;
  animation: borderColorChange 5s infinite;
}

.my-skills-top {
  text-align: center;
  font-size: 1.8rem;
}

.my-skill {
  width: 100%;
}

.my-skills-middle {
  display: flex;
  justify-content: center;
}

.my-skills-middle div {
  margin: 0 0.4rem;
  padding: 0;
  width: 3.11rem;
  height: 3.11rem;
}

.skills-details-1 {
  background: url("../svg/skillPc.svg") -281px 0 no-repeat;
}

.skills-details-2 {
  background: url("../svg/skillPc.svg") -450px 0 no-repeat;
}

.skills-details-3 {
  background: url("../svg/skillPc.svg") -562px 0 no-repeat;
}

.skills-details-4 {
  background: url("../svg/skillPc.svg") -900px -56px no-repeat;
}

.skills-details-5 {
  background-position: 0 -3px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49.75' height='55.97' viewBox='0 0 256 288'%3E%3Cpath fill='%23649AD2' d='M255.987 84.59c-.002-4.837-1.037-9.112-3.13-12.781-2.054-3.608-5.133-6.632-9.261-9.023C209.516 43.696 175.4 24.105 141.33 4.434c-9.185-5.303-18.09-5.11-27.208.27-13.565 8-81.48 46.91-101.719 58.632C4.071 67.6.015 74.984.013 84.58c0 39.52.013 79.04 0 118.56 0 4.73.993 8.923 2.993 12.537 2.056 3.717 5.177 6.824 9.401 9.269 20.24 11.722 88.164 50.63 101.726 58.631 9.121 5.382 18.027 5.575 27.215.27 34.07-19.672 68.186-39.262 102.272-58.913 4.224-2.444 7.345-5.553 9.401-9.267 1.997-3.614 2.992-7.806 2.992-12.539.013-39.52 0-79.04 0-118.56'/%3E%3Cpath fill='%23004482' d='m128.392 143.476-125.4 72.202c2.057 3.717 5.178 6.824 9.402 9.269 20.24 11.722 88.164 50.63 101.726 58.631 9.121 5.382 18.027 5.575 27.215.27 34.07-19.672 68.186-39.262 102.272-58.913 4.224-2.444 7.345-5.553 9.401-9.267z'/%3E%3Cpath fill='%231A4674' d='M91.25 164.863c7.297 12.738 21.014 21.33 36.75 21.33 15.833 0 29.628-8.7 36.888-21.576l-36.496-21.141z'/%3E%3Cpath fill='%2301589C' d='M255.987 84.59c-.002-4.837-1.037-9.112-3.13-12.781l-124.465 71.667 124.616 72.192c1.997-3.614 2.99-7.806 2.992-12.539 0 0 0-79.018-.013-118.539'/%3E%3Cpath fill='%23FFF' d='M249.135 148.636h-9.738v9.74h-9.74v-9.74h-9.737V138.9h9.737v-9.738h9.74v9.738h9.738zM128 58.847c31.135 0 58.358 16.74 73.17 41.709l.444.759-37.001 21.307c-7.333-12.609-20.978-21.094-36.613-21.094-23.38 0-42.333 18.953-42.333 42.332a42.13 42.13 0 0 0 5.583 21.003c7.297 12.738 21.014 21.33 36.75 21.33 15.659 0 29.325-8.51 36.647-21.153l.241-.423 36.947 21.406c-14.65 25.597-42.228 42.851-73.835 42.851-31.549 0-59.084-17.185-73.754-42.707-7.162-12.459-11.26-26.904-11.26-42.307 0-46.95 38.061-85.013 85.014-85.013m75.865 70.314v9.738h9.737v9.737h-9.737v9.74h-9.738v-9.74h-9.738V138.9h9.738v-9.738z'/%3E%3C/svg%3E");
}

.skills-details-6 {
  background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OS43NSIgaGVpZ2h0PSI0OS43NSIgdmlld0JveD0iMCAwIDEyOCAxMjgiPjxwYXRoIGZpbGw9IiM2NTlBRDMiIGQ9Ik0xMTUuNCAzMC43TDY3LjEgMi45Yy0uOC0uNS0xLjktLjctMy4xLS43cy0yLjMuMy0zLjEuN2wtNDggMjcuOWMtMS43IDEtMi45IDMuNS0yLjkgNS40djU1LjdjMCAxLjEuMiAyLjQgMSAzLjVsMTA2LjgtNjJjLS42LTEuMi0xLjUtMi4xLTIuNC0yLjciPjwvcGF0aD48cGF0aCBmaWxsPSIjMDM1OTlDIiBkPSJNMTAuNyA5NS4zYy41LjggMS4yIDEuNSAxLjkgMS45bDQ4LjIgMjcuOWMuOC41IDEuOS43IDMuMS43czIuMy0uMyAzLjEtLjdsNDgtMjcuOWMxLjctMSAyLjktMy41IDIuOS01LjRWMzYuMWMwLS45LS4xLTEuOS0uNi0yLjh6Ij48L3BhdGg+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTg1LjMgNzYuMUM4MS4xIDgzLjUgNzMuMSA4OC41IDY0IDg4LjVjLTEzLjUgMC0yNC41LTExLTI0LjUtMjQuNXMxMS0yNC41IDI0LjUtMjQuNWM5LjEgMCAxNy4xIDUgMjEuMyAxMi41bDEzLTcuNWMtNi44LTExLjktMTkuNi0yMC0zNC4zLTIwYy0yMS44IDAtMzkuNSAxNy43LTM5LjUgMzkuNXMxNy43IDM5LjUgMzkuNSAzOS41YzE0LjYgMCAyNy40LTggMzQuMi0xOS44eiI+PC9wYXRoPjwvc3ZnPg==");;
}